.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.show {
    opacity: 1;
    visibility: visible;
}

.content {
    background-color: white;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-color: rgb(75, 75, 75);
}

.btn {
    background: transparent;
    border: none;
    width: 15px;
    height: 15px;
    padding: 0;
    background-image: url('../../assets/btnImage.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.btn:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-image: url('../../assets/btnImageHower.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.img{
    width: 300px;
}

.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    margin: 0;
    padding: 0;
}